@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%; 
    overflow-x: hidden; 
    font-family: 'Roboto', sans-serif;
}

body {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(241, 234, 234), rgb(184, 167, 245), rgb(106, 105, 158)); /* Cor de fundo da página */
    padding-top: 50px; 
}

.barra {
    background-image: linear-gradient(to right, rgb(241, 234, 234), rgb(224, 213, 213), rgb(212, 197, 197), rgb(184, 167, 245), rgb(106, 105, 158));
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 2px solid rgb(249, 204, 255); 
    z-index: 100; 
}
        .barra h1{
            margin-right: 10px;
        }
        .barra button {
            height: 40px; 
            font-family: 'Roboto', sans-serif;
            color: rgb(228, 160, 245);
            border-radius: 5px;
            border-color: rgb(216, 147, 243);
            transition: transform 140ms ease-in-out;
            margin-right: 10px;
            background-color: transparent;
            cursor: pointer;
        }
        
        .barra button {
            height: 40px; 
            font-family: 'Roboto', sans-serif;
            color: rgb(228, 160, 245);
            border-radius: 5px;
            border-color: rgb(216, 147, 243);
            transition: transform 140ms ease-in-out;
            margin-right: 10px;
            background-color: transparent;
            cursor: pointer;
            display: inline-block; 
            padding: 0 10px; 
        }
        
        .barra button:hover {
            transform: scale(1.1);
            background-image: linear-gradient(white, rgb(202, 197, 197));
        }
        
        .barra button:focus {
            outline: none;
        }
        
        
        .barra button a {
            text-decoration: none;
            color: black;
        }
        
        
        .barra button:focus {
            text-decoration: none;
            color: inherit;
        }
        #nome-menu {
            color: white;
            font-weight: bold;
            margin-right: 10px; 
            margin-left: auto; 
        }

        #imagem-menu img {
            height: 60px; 
            width: auto; 
            margin-right: 50px;
            margin-top: 2px;
            border: 1px solid black;
        }

        .conteudo {
            margin-top: auto;
            flex: 1; 
            padding-top: 20px;
            padding-bottom: 20px;
            box-sizing: border-box;
            overflow-y: auto;
        }
        
        .conteudo h2 {
            margin-bottom: 10px;
        }
        .conteudo ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .conteudo li {
            padding: 10px 0;
        }

    
        .conteudo a {
            text-decoration: none; 
            color: black; 
            display: inline-block;
            padding: 5px 10px;
            transition: box-shadow 0.3s;
        }

      
        .conteudo a:hover,
        .conteudo a:focus {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
        }
        .atividade {
            border-top: 1px solid rgb(216, 147, 243); 
            margin: 0; 
            padding: 0; 
        }
        
        .atividade a {
            display: block;
            padding: 10px; 
            text-decoration: none;
        }
        hr {
            border: none;
            border-top: 1px solid black; /* Cor e estilo da linha */
            margin: 20px 0; /* Espaçamento ao redor da linha */
        }
        #imagem-Atividade2{
            height: 200px;
            width: 200px;
        }
        table {
            border-collapse: collapse;
            margin-bottom: 10px;
            margin-left: 5px;
            margin-right: 5px;
        }
        
        th, td {
            border: 2px solid rgb(0, 0, 0);
            padding: 8px;
        }
        .exodia{
            height: 20  0px;
            width: 150px;
        }