html, body {
    margin: 0;
    padding: 0;
    min-height: 100%; 
    overflow-x: hidden; 
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
}

body {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(32, 19, 48),rgb(63, 33, 97),rgb(32, 19, 48)); /* Cor de fundo da página */
    padding-top: 50px; 
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.barra {
    background-color: rgb(32, 19, 48);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid rgb(225, 220, 226); 
    z-index: 100; 
}
        .barra h1{
            margin-right: 10px;
            color: white;
        }
        .barra button {
            height: 40px; 
            font-family: 'Roboto', sans-serif;
            color: rgb(225, 220, 226);
            border-radius: 5px;
            border-color: rgb(225, 220, 226);
            transition: transform 140ms ease-in-out;
            margin-right: 10px;
            background-color: transparent;
            cursor: pointer;
        }
        
        .barra button {
            height: 40px; 
            font-family: 'Roboto', sans-serif;
            color: rgb(225, 220, 226);
            border-radius: 5px;
            border-color: rgb(225, 220, 226);
            transition: transform 140ms ease-in-out;
            margin-right: 10px;
            background-color: transparent;
            cursor: pointer;
            display: inline-block; 
            padding: 0 10px; 
        }
        
        .barra button:hover {
            transform: scale(1.1);
            background-image: linear-gradient(transparent);
        }
        
        .barra button:focus {
            outline: none;
        }
        
        
        .barra button a {
            text-decoration: none;
            color: rgb(255, 255, 255);
        }
        
        
        .barra button:focus {
            text-decoration: none;
            color: inherit;
        }
        #nome-menu {
            color: white;
            font-weight: bold;
            margin-right: 10px; 
            margin-left: auto; 
        }

        #imagem-menu img {
            height: 60px; 
            width: auto; 
            margin-right: 50px;
            margin-top: 2px;
            border: 1px solid black;
        }

        .conteudo {
            margin-top: auto;
            flex: 1; 
            padding-top: 20px;
            padding-bottom: 20px;
            box-sizing: border-box;
            overflow-y: auto;
        }
        
        .conteudo h2 {
            margin-bottom: 10px;
        }
        .conteudo ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .conteudo li {
            padding: 10px 0;
        }

    
        .conteudo a {
            text-decoration: none; 
            display: inline-block;
            padding: 5px 10px;
            transition: box-shadow 0.3s;
        }

      
        .conteudo a:hover,
        .conteudo a:focus {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
        }
        .atividade {
            border-top: 1px solid rgb(216, 147, 243); 
            margin: 0; 
            padding: 0; 
        }
        
        .atividade a {
            display: block;
            padding: 10px; 
            text-decoration: none;
        }
        hr {
            border: none;
            border-top: 1px solid black; /* Cor e estilo da linha */
            margin: 20px 0; /* Espaçamento ao redor da linha */
        }
        #imagem-Atividade2{
            height: 200px;
            width: 200px;
        }
        table {
            border-collapse: collapse;
            margin-bottom: 10px;
            margin-left: 5px;
            margin-right: 5px;
        }
        
        th, td {
            border: 2px solid rgb(241, 241, 241);
            padding: 8px;
        }
        .exodia{
            height: 20  0px;
            width: 150px;
        }
 
        .activity-list {
            display: flex;
            flex-direction: column;
            align-items:first baseline;
            margin-left: 15px;
        }
        
        .activity {
            background-color: #f9f9f9;
            border: 2px solid #ddddddd5;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
            width: 300px;
            height: auto;

        }
        
        .activity-name {
            margin-top: auto;
            font-size: 20px;
            margin-bottom: 5px;
            color: black;
        }
        
        .activity-description {
            color: #5a5a5a;
            margin-bottom: 10px;
            height: auto;
        }
        
        .activity-button {
            display:inline-block;
            width: 100;
            text-align: center;
            padding: 5px;
            background-color: #cfc9c9;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;

        }