html, body {
    min-height: 100%;
    background: linear-gradient(rgb(241, 234, 234), rgb(184, 167, 245), rgb(106, 105, 158));
    margin: 0;
}

.barra {
    background-image: linear-gradient(to right, rgb(241, 234, 234), rgb(224, 213, 213), rgb(212, 197, 197), rgb(184, 167, 245), rgb(106, 105, 158));
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto; /* Altera a altura para automática */
    min-height: 50px; /* Altura mínima para garantir visibilidade */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 2px solid rgb(249, 204, 255); 
}
button {
    height: 40px; 
    font-family: inherit;
    color: rgb(228, 160, 245);
    border-radius: 5px;
    border-color: rgb(216, 147, 243);
    transition: transform 140ms ease-in-out;
    margin-right: 10px;
}

button:hover {
    transform: scale(1.1);
    background-image: linear-gradient(white, rgb(202, 197, 197));
}
a {
    color: black;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
}

#nome-menu {
    color: white;
    font-weight: bold;
    margin-right: 10px; 
    margin-left: auto; 
}

#imagem-menu img {
    height: 60px; 
    width: auto; 
    margin-right: 50px;
    margin-top: 2px;
    border: 1px solid black;
}